{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "createDefaultProgram": true
  },
  "plugins": [
    "prettier",
    "@typescript-eslint",
    "import",
    "optimize-imports",
    "simple-import-sort"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:import/typescript",
    "prettier"
  ],
  "rules": {
    "quotes": [2, "single"],
    "block-spacing": 2,
    "indent": [2, 2],
    "no-console": 1,
    "semi": 2,
    // Separate properties with comma to prevent asertion errors
    "comma-dangle": [2, {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "only-multiline",
      "exports": "only-multiline",
      "functions": "always-multiline"
    }],
    // Required space after colon ex. => { id:4 } will cause error, while { id: 4 } will be correct
    "key-spacing": [2, { "beforeColon": false }],
    "object-curly-spacing": [1, "always", {
      "objectsInObjects": true, "arraysInObjects": true
    }],
    "object-curly-newline": [1, {
      "ObjectExpression": { "multiline": true, "minProperties": 4 },
      "ObjectPattern": { "multiline": true, "minProperties": 4 },
      "ImportDeclaration": { "multiline": true, "minProperties": 4 },
      "ExportDeclaration": { "multiline": true, "minProperties": 3 }
    }],
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/prefer-regexp-exec": 0,
    "@typescript-eslint/no-this-alias": [2, { "allowedNames": ["self"] }],
    "optimize-imports/import-react": 1,
    "optimize-imports/import-quotes": 1,
    "optimize-imports/import-breaks": 1,
    "import/no-duplicates": 2,
    "import/first": 2,
    "import/no-cycle": 1,
    "import/no-self-import": 1,
    "import/no-mutable-exports": 1,
    "import/no-default-export": 1,
    "simple-import-sort/imports": [2, {
      "groups": [
        // Node.js builtins.
        [
          "^(assert|buffer|child_process|cluster|console|constants|crypto|dgram|dns|domain|events|fs|http|https|module|net|os|path|punycode|querystring|readline|repl|stream|string_decoder|sys|timers|tls|tty|url|util|vm|zlib|freelist|v8|process|async_hooks|http2|perf_hooks)(/.*|$)"
        ],
        // Packages. `react` related packages come first.
        ["^react", "^@?\\w"],
        // Internal packages.
        ["^(@|@company|@ui|components|utils|config|vendored-lib)(/.*|$)"],
        // Side effect imports.
        ["^\\u0000"],
        // Parent imports. Put `..` last.
        ["^\\.\\.(?!/?$)", "^\\.\\./?$"],
        // Other relative imports. Put same-folder imports and `.` last.
        ["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"]
      ]
    }],
    "@typescript-eslint/no-explicit-any": 2
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  }
}
